{% extends "layout.html" %}

{% block title %}
 <title>The Godfatherbusinee | Help</title>
{% endblock %}
{% block content %}
  <div class="limiter">
    <div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <h4>Did you forget your password?</h4><br>
            <p>Please contact us on <strong><a href="https://www.instagram.com/thegodfatherbusiness/">Instagram</a></strong> with a DM </p>


        </div>
    </div>    
  </div>
<div id="dropDownSelect1"></div>

{% endblock %}