{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
<title>The Godfatherbusiness | Sign Up</title>
{% endblock %}

{% block content %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images/bg-01.jpg');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form class="login100-form validate-form" method="POST" action="/220194">
					<span class="login100-form-title p-b-49">
						The Godfather Business
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is required">
						{{ form.hidden_tag() }}
						{{ wtf.form_field(form.username) }}
						
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						{{ wtf.form_field(form.password) }}
						
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="E-mail is required">
						{{ wtf.form_field(form.email) }}
						
                    </div>
					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Sign Up
							</button>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
{% endblock %}